<div class="padrao">
  <div class="div-barra">
    <mat-toolbar>
      <span class="example-spacer">Pesquisa {{data.dono}}</span>
      <app-navegator [controle]="controlePaginas" (changePage)="onChangePage()"></app-navegator>
    </mat-toolbar>
  </div>
  <div mat-dialog-content class="content">
    <div class="div-barra">
      <span class="example-spacer">Filtro Da Pesquisa</span>
      <button mat-icon-button aria-label="Example icon-button with share icon " matTooltipPosition="above"
        (click)="onSaveConfig()" matTooltip="Salvar Parâmetros" matTooltipPosition="above">
        <mat-icon>brightness_high</mat-icon>
      </button>
      <button mat-icon-button aria-label="Example icon-button with share icon " matTooltipPosition="above"
        (click)="onGetExcelToEmailOrDownLoad('e-mail')" matTooltip="Enviar Consulta Por E-Mail" matTooltipPosition="above" *ngIf="email">
        <mat-icon>email</mat-icon>
      </button>
      <button mat-icon-button aria-label="Example icon-button with share icon " matTooltipPosition="above"
        (click)="onGetExcelToEmailOrDownLoad('download')" matTooltip="Baixar A Consulta" matTooltipPosition="above" *ngIf="download">
        <mat-icon>cloud_download</mat-icon>
      </button>
      <button mat-icon-button aria-label="Example icon-button with share icon " matTooltipPosition="above"
      (click)="onHide()" matTooltip="Mostrar/Esconder" matTooltipPosition="above">
      <mat-icon>remove_red_eye</mat-icon>
     </button>
  </div>
    <form [formGroup]="formulario" autocomplete="off">
      <div class="col-med-4">
        <mat-form-field appearance="outline" class="col-50">
          <mat-label>Código</mat-label>
          <input matInput formControlName="codigo" >
          <button *ngIf="hasValue('codigo')" matSuffix mat-icon-button aria-label="Clear" (click)="clearValueRefresh('codigo')">
            <mat-icon>close</mat-icon>
         </button>
        </mat-form-field>
        <mat-form-field appearance="outline" class="column-span-3">
          <mat-label>Descrição</mat-label>
          <input  class="uppercase" matInput formControlName="descricao">
          <button *ngIf="hasValue('descricao')" matSuffix mat-icon-button aria-label="Clear" (click)="clearValueRefresh('descricao')">
            <mat-icon>close</mat-icon>
         </button>
        </mat-form-field>
      </div>
    </form>
    <table class="Browse_Lanc" *ngIf="lsLista.length > 0">
      <tr class="coluna-cabec">
        <th>Código</th>
        <th>Descrição</th>
      </tr>
      <tr *ngFor="let lista of lsLista" >
        <td>
          <div>
            <mat-label class="Browse_Lanc_td maozinha">{{lista.codigo }}</mat-label>
          </div>
        </td>
        <td>
          <div (dblclick)="onEscolher(lista)">
            <mat-label class="Browse_Lanc_td maozinha">{{lista.descricao}}</mat-label>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div mat-dialog-actions>
    <div class="button-container-right">
      <button mat-raised-button color="accent" (click)="onCancelar()">
        <mat-icon>cancel</mat-icon>
        <span>Canecelar</span>
      </button>
      <button mat-raised-button color="primary" (click)="onTodos()" *ngIf="data.opcaoTodos" >
        <mat-icon>check</mat-icon>
        <span>Todos</span>
      </button>
    </div>
  </div>
</div>

