<div class="div-barra">
  <span class="example-spacer">Filtro Da Pesquisa</span>
  <button mat-icon-button aria-label="Example icon-button with share icon " matTooltipPosition="above"
    (click)="onSaveConfig()" matTooltip="Salvar Parâmetros" matTooltipPosition="above">
    <mat-icon>brightness_high</mat-icon>
  </button>
  <button mat-icon-button aria-label="Example icon-button with share icon " matTooltipPosition="above"
    (click)="onGetExcelToEmailOrDownLoad('e-mail')" matTooltip="Enviar Consulta Por E-Mail" matTooltipPosition="above" *ngIf="email">
    <mat-icon>email</mat-icon>
  </button>
  <button mat-icon-button aria-label="Example icon-button with share icon " matTooltipPosition="above"
    (click)="onGetExcelToEmailOrDownLoad('download')" matTooltip="Baixar A Consulta" matTooltipPosition="above" *ngIf="download">
    <mat-icon>cloud_download</mat-icon>
  </button>
  <button mat-icon-button aria-label="Example icon-button with share icon " matTooltipPosition="above"
  (click)="onHide()" matTooltip="Mostrar/Esconder" matTooltipPosition="above">
  <mat-icon>remove_red_eye</mat-icon>
 </button>

</div>
<form [formGroup]="parametros" autocomplete="off" *ngIf="!hide">
<div class="col-med-4">
  <mat-form-field appearance="outline" class="col-max">
    <mat-label>Data </mat-label>
    <input matInput formControlName="data" mask="00/00/0000" placeholder="dd/mm/aaaa">
    <mat-error *ngIf="NoValidtouchedOrDirty('data')">{{getMensafield('data')}}</mat-error>
    <button
      *ngIf="hasValue('data')"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="onclearValue('data');">
      <mat-icon>close</mat-icon>
    </button>

</mat-form-field>
<mat-form-field field appearance="outline" class="col-max">
  <mat-label>Ano</mat-label>
  <mat-select formControlName="ano" (selectionChange)="onChangeParametros()">
    <mat-option *ngFor="let ano of anos" [value]="ano">
      {{ano}}
    </mat-option>
  </mat-select>
  <button
    *ngIf="hasValue('ano')"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="onclearValue('ano'); $event.stopPropagation()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<mat-form-field field appearance="outline" class="col-max">
  <mat-label>Mês</mat-label>
  <mat-select formControlName="mes" (selectionChange)="onclearValueCombo('ano')">
    <mat-option *ngFor="let mes of meses.ParametroMeses" [value]="mes.nro">
      {{mes.nome}}
    </mat-option>
  </mat-select>
  <button
    *ngIf="hasValue('mes')"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="onclearValue('mes'); $event.stopPropagation()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<mat-form-field field appearance="outline" class="col-max">
  <mat-label>Tipo</mat-label>
  <mat-select formControlName="tipo" (selectionChange)="onChangeParametros()">
    <mat-option *ngFor="let tipo of tipos" [value]="tipo.indice">
      {{tipo.descricao}}
    </mat-option>
  </mat-select>
  <button
    *ngIf="hasValue('tipo')"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="onclearValueCombo('tipo'); $event.stopPropagation()">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
</div>
<div class="col-med-2">
  <mat-form-field field appearance="outline" class="col-max">
    <mat-label>Grupo </mat-label>
    <mat-select formControlName="grupo" (selectionChange)="onChangeGrupo()">
      <mat-option *ngFor="let grupo of grupos" [value]="grupo.subconta">
        {{grupo.estru_descri}}
      </mat-option>
    </mat-select>
  <button
  *ngIf="hasValue('grupo')"
  matSuffix
  mat-icon-button
  aria-label="Clear"
  (click)="onclearValueGrupo();$event.stopPropagation()">
  <mat-icon>close</mat-icon>
</button>
  </mat-form-field>
  <mat-form-field field appearance="outline" class="col-max">
    <mat-label>Atividade </mat-label>
    <mat-select formControlName="atividade" (selectionChange)="onChangeParametros()" class="col-90">
      <mat-option *ngFor="let atividade of atividadesDoGrupo" [value]="atividade.subconta">
        {{atividade.estru_descri}}
      </mat-option>
    </mat-select>
  <button *ngIf="hasValue('atividade')" matSuffix mat-icon-button aria-label="Clear" (click)="onclearValueCombo('atividade'); $event.stopPropagation()">
    <mat-icon>close</mat-icon>
  </button>
  </mat-form-field>
</div>
<div class="col-med-1">
  <mat-form-field field appearance="outline" class="col-max">
    <mat-label>Usuario </mat-label>
    <mat-select formControlName="usuario" (selectionChange)="onChangeParametros()">
      <mat-option *ngFor="let usuario of usuarios" [value]="usuario.id">
        {{usuario.razao}}
      </mat-option>
    </mat-select>
    <button
    *ngIf="hasValue('usuario')"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="onclearValueCombo('usuario');$event.stopPropagation()">
    <mat-icon>close</mat-icon>
  </button>
  </mat-form-field>
</div>
<div class="col-med-1">
  <mat-form-field appearance="outline" class="col-max">
    <mat-label>Descrição</mat-label>
    <input class="uppercase" matInput  formControlName="descricao">
    <button
    *ngIf="hasValue('descricao')"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="onclearValue('descricao')">
    <mat-icon>close</mat-icon>
  </button>
  </mat-form-field>
</div>
<div class="col-med-1">
  <mat-form-field field appearance="outline" class="col-max">
    <mat-label>Ordernado Por</mat-label>
    <mat-select formControlName="orderby" (selectionChange)="onChangeParametros()">
      <mat-option *ngFor="let ordem of orderby" [value]="ordem.sigla">
        {{ordem.descricao}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
</form>

