<h1>{{data.texto}}</h1>
<form [formGroup]="formulario" autocomplete="off">
  <div class="col-med-1">
    <mat-form-field appearance="outline" class="col-max">
      <mat-label>Descrição:</mat-label>
      <input matInput formControlName="descricao" oninput="this.value = this.value.toUpperCase()">
      <mat-error *ngIf="formulario.get('descricao')?.errors?.ValidatorStringLen && touchedOrDirty('descricao')">
        {{formulario.get('descricao')?.errors?.message}}</mat-error>
    </mat-form-field>
  </div>
  <div class="button-container-right">
    <button mat-raised-button color="accent" cdkFocusInitial (click)="closeModal()">
      <mat-icon>cancel</mat-icon>
      Cancelar
    </button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data" (click)="actionFunction()">
      <mat-icon>check</mat-icon>
      Gravar
    </button>
  </div>
</form>
