<h1>{{data.titulo}}</h1>
<mat-card-content>
    <mat-label class="labelTitleFirst">CÓDIGO:</mat-label>
    <mat-label class="labelData">{{data.cliente.id}}</mat-label>
    <mat-label class="labelTitle">Social:</mat-label>
    <mat-label class="labelData">{{data.cliente.razao}}</mat-label>
    <mat-label class="labelTitle">Fantasia:</mat-label>
    <mat-label class="labelData">{{data.cliente.fantasi}}</mat-label>
    <mat-label class="labelTitle">Grupo:</mat-label>
    <mat-label class="labelData">{{data.cliente.grupo}}</mat-label>
</mat-card-content>