<div class="div-barra">
  <mat-toolbar>
    <span class="example-spacer">Pontes: </span>
    <app-navegator [controle]="controlePaginas" (changePage)="onChangePage()"></app-navegator>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="onRefresh()"
      matTooltip="Atualizar" matTooltipPosition="above">
      <mat-icon>rotate_right</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon " matTooltipPosition="above"
      (click)="onSaveConfig()" matTooltip="Salvar Parâmetros" matTooltipPosition="above">
      <mat-icon>brightness_high</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon " matTooltip="Retorno"
      matTooltipPosition="above" (click)="onHome()">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon " (click)="escolha(99) "
      [matTooltip]="getTexto().incluir" matTooltipPosition="above">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </mat-toolbar>
</div>
<div class="parametros">
  <form [formGroup]="parametros" autocomplete="off" class="col-med-4">
    <mat-form-field field appearance="outline" class="col-max">
      <mat-label>Ordenação</mat-label>
      <mat-select formControlName="ordenacao" (selectionChange)="onChangeParametros()">
        <mat-option *ngFor="let op of opcoesOrdenacao" [value]="op">
          {{op}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field field appearance="outline" class="col-max">
      <mat-label>Pesquisar Por</mat-label>
      <mat-select formControlName="campo" (selectionChange)="onChangeParametros()">
        <mat-option *ngFor="let op of opcoesCampo" [value]="op">
          {{op}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-max column-span-2" *ngIf="!isData()">
      <mat-label>Descrição</mat-label>
      <input matInput formControlName="filtro" oninput="this.value = this.value.toUpperCase()">
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-max" *ngIf="isData()">
      <mat-label>Data</mat-label>
      <input matInput formControlName="data" mask="00/00/0000" placeholder="dd/mm/aaaa">
      <mat-error *ngIf="parametros.get('data')?.errors?.ValidatorDate && NoValidtouchedOrDirtyCd('data')">
        {{parametros.get('data')?.errors?.message}}</mat-error>
    </mat-form-field>
  </form>
</div>
<cdk-virtual-scroll-viewport [itemSize]="50" class="content">
  <table class="Browse-Scroll">
    <tr class="coluna-cabec">
      <th>Data</th>
      <th>Descrição</th>
      <th>Qtd Usuários</th>
      <th>AÇÕES</th>
    </tr>
    <tr *cdkVirtualFor="let feriado of feriados ">
      <td>
        <div class="alinha_centro">
          <mat-label class="Browse_Lanc_td">{{feriado.data}}</mat-label>
        </div>
      </td>
      <td>
        <div>
          <mat-label class="Browse_Lanc_td">{{feriado.descricao}}</mat-label>
        </div>
      </td>
      <td>
        <div class="alinha_direita">
          <mat-label class="Browse_Lanc_td">{{feriado.total}}</mat-label>
        </div>
      </td>
      <td class="acoes">
        <barra-acoes [MULTEDICAO]="true" [BARRA_VERTICAL]="true" [EXCLUIR]="false" [BARRA_EXCLUIR]="true"
          [ALTERAR]="true" [BARRA_ATIVIDADES]="false" [BARRA_DASHBOARDV1]="false"
          (changeOpcao)="escolha($event,feriado)"></barra-acoes>
      </td>
    </tr>
  </table>
</cdk-virtual-scroll-viewport>
