.content {
    height: 60%;
    overflow: auto;
}

td {
    font-size: small;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}

tr:nth-child(even) {
    background-color: #f2f2AA;
}

tr:hover {
    background-color: rgb(202, 169, 157);
}

.acoes {
    color: darkred;
    width: 100px;
}