.button {
    margin-top: 3%;
}

table {
    width: 100%;
    cursor: pointer;
}

.coluna-codigo {
    background-color: #878684;
    text-align: center;
    font-weight: bolder;
}

.coluna-descricao {
    background-color: #A9AD9E;
}

.coluna-acao {
    background-color: #E1E7D3;
    text-align: center;
    font-weight: 400;
}

.coluna-cabec {
    background-color: #E3BD11;
    font-size: large;
    text-align: center;
}

.encerramento {
    margin-top: 20px;
}