<p>
  <mat-toolbar color="primary">
    <button routerLink="" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
      (click)="setOpcao('')">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Simionato Auditores</span>
    <span *ngIf="showMenu">
      <button mat-button [matMenuTriggerFor]="cadastros" (click)="setOpcao('Cadastros')"
        [ngStyle]="{'color' : opcao==='Cadastros' ? 'red' : 'white' }" *ngIf="okCadastros()">Cadastros</button>
      <button mat-button [matMenuTriggerFor]="projetos" (click)="setOpcao('Projetos')"
        [ngStyle]="{'color' : opcao==='Projetos' ? 'red' : 'white' }" *ngIf="okProjetos()">Diretoria</button>
      <button mat-button [matMenuTriggerFor]="planejamento" (click)="setOpcao('Planejamento')"
        [ngStyle]="{'color' : opcao==='Planejamento' ? 'red' : 'white' }"
        *ngIf="okPlanejamento()">Coordenadores</button>
      <button mat-button [matMenuTriggerFor]="execucao" (click)="setOpcao('Execução')"
        [ngStyle]="{'color' : opcao==='Execução' ? 'red' : 'white' }" *ngIf="okExecucao()">Auditores</button>
      <button mat-button [matMenuTriggerFor]="gerencial" (click)="setOpcao('Gerencial')"
        [ngStyle]="{'color' : opcao==='Gerencial' ? 'red' : 'white' }" *ngIf="okGerencial()">Gerencial</button>
      <button mat-button [matMenuTriggerFor]="sobre" (click)="setOpcao('Sobre')"
        [ngStyle]="{'color' : opcao==='Sobre' ? 'red' : 'white' }">Sobre</button>
    </span>
    <span>
      <!-- #docregion sub-menu -->
      <mat-menu #cadastros="matMenu">
        <button mat-menu-item routerLink="empresas">Empresas</button>
        <button mat-menu-item routerLink="usuarios">Usuários</button>
        <button mat-menu-item routerLink="clientes-scroll">Clientes</button>
        <button mat-menu-item routerLink="users">Grupos De Usuários</button>
        <button mat-menu-item routerLink="economicos-scroll">Grupos Econômicos</button>
        <button mat-menu-item routerLink="motivos">Motivos De Apontamento</button>
        <button mat-menu-item routerLink="estruturas">Estruturas</button>
        <button mat-menu-item routerLink="feriados">Feriados</button>
        <button mat-menu-item routerLink="especiais">Datas Especiais</button>
      </mat-menu>
      <mat-menu #projetos="matMenu">
        <button mat-menu-item routerLink="projetos">Contratos</button>
        <button mat-menu-item routerLink="agendaprojeto">Agenda Diretoria</button>
      </mat-menu>
      <mat-menu #planejamento="matMenu">
        <button mat-menu-item routerLink="projetos">Contratos</button>
        <button mat-menu-item routerLink="agendacoordenador">Agenda Coordenadores</button>
        <button mat-menu-item routerLink="horas-lista-01">Auditores x Horas Apontadas</button>
        <button mat-menu-item [matMenuTriggerFor]="tickets" *ngIf="getUsuarioId() == 16">Controle De Tickets</button>
        <button mat-menu-item [matMenuTriggerFor]="horas" *ngIf="getUsuarioId() == 16">Controle De Horas</button>
      </mat-menu>
      <mat-menu #tickets="matMenu">
        <button mat-menu-item routerLink="tickets">Controle Mensal</button>
        <button mat-menu-item routerLink="tickets-liberacao">Liberação</button>
        <button mat-menu-item routerLink="tickets">Relatórios</button>
      </mat-menu>
      <mat-menu #horas="matMenu">
        <button mat-menu-item>Feriados</button>
        <button mat-menu-item>Datas Especiais</button>
        <button mat-menu-item>Resumo Geral</button>
      </mat-menu>
      <mat-menu #execucao="matMenu">
        <button mat-menu-item routerLink="projetos">Contratos</button>
        <button mat-menu-item routerLink="execucao">Apontamentos</button>
        <button mat-menu-item routerLink="agendatrabalhos">Agenda Auditores</button>
        <!--<button mat-menu-item routerLink="extratoaudi">Extrato Auditores</button>-->
      </mat-menu>
      <mat-menu #gerencial="matMenu">
        <!--<button mat-menu-item routerLink="gerencial">Controle Dos Contratos</button>-->
      </mat-menu>
      <mat-menu #sobre="matMenu">
        <button mat-menu-item routerLink="sobre">Parâmentos Do Sistema</button>
        <button mat-menu-item routerLink="execucao3">Lançamento Execução Teste</button>
      </mat-menu>
    </span>
    <span class="example-spacer"></span>
    <label>{{getUsuario()}}</label>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" matTooltip="LOGIN"
      matTooltipPosition="above" (click)="onLogin()">
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>
</p>
<div class="spin">
  <app-spins></app-spins>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
