<!--http://jsfiddle.net/danield770/sNwrs/3158/-->
<div class="div-barra">
  <mat-toolbar>
    <span class="example-spacer">Grp Econômicos: </span>
    <app-navegator [controle]="controlePaginas" (changePage)="onChangePage()"></app-navegator>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
      (click)="getGruposContador()" matTooltip="Atualizar" matTooltipPosition="above">
      <mat-icon>rotate_right</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon " matTooltipPosition="above"
      (click)="onSaveConfig()" matTooltip="Salvar Parâmetros" matTooltipPosition="above">
      <mat-icon>brightness_high</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon " matTooltip="Retorno"
      matTooltipPosition="above" (click)="onHome()">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon "
      (click)="escolha(getAcoes()[ 'Inclusao']) " [matTooltip]="getTexto().incluir" matTooltipPosition="above">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </mat-toolbar>
</div>
<div class="parametros">
  <form [formGroup]="parametros" autocomplete="off" class="col-med-4">
    <mat-form-field field appearance="outline" class="col-max">
      <mat-label>Ordenação</mat-label>
      <mat-select formControlName="ordenacao" (selectionChange)="onChangeParametros()">
        <mat-option *ngFor="let op of opcoesOrdenacao" [value]="op">
          {{op}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field field appearance="outline" class="col-max">
      <mat-label>Pesquisar Por</mat-label>
      <mat-select formControlName="campo" (selectionChange)="onChangeParametros()">
        <mat-option *ngFor="let op of opcoesCampo" [value]="op">
          {{op}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-max column-span-2">
      <mat-label>Descrição</mat-label>
      <input matInput formControlName="filtro">
    </mat-form-field>
  </form>
</div>

<cdk-virtual-scroll-viewport [itemSize]="50" class="content">
  <table class="Browse-Scroll">
    <tr class="coluna-cabec">
      <th>Código</th>
      <th>Razão</th>
      <th>AÇÕES</th>
    </tr>
    <tr *cdkVirtualFor="let grupo of grupos ">
      <td>
        <div>
          <mat-label class="Browse_Lanc_td">{{grupo.id}}</mat-label>
        </div>
      </td>
      <td>
        <div>
          <mat-label class="Browse_Lanc_td">{{grupo.razao}}</mat-label>
        </div>
      </td>
      <td class="acoes">
        <barra-acoes [BARRA_ATIVIDADES]="false" [EXCLUIR]="false" (changeOpcao)="escolha($event,grupo)"></barra-acoes>
      </td>
    </tr>
  </table>
</cdk-virtual-scroll-viewport>

<!--
<div class="Browse">
  <div class="linha" *ngFor="let grupo of grupos ; index as id">
    <mat-card class="example-card" (click)="escolha(getAcoes()['Consulta'],grupo)">
      <mat-card-actions>
        <span class="button-container-right ">
          <button mat-icon-button aria-label="Example icon-button with share icon "
            (click)="escolha(getAcoes()[ 'Edicao'],grupo) " [matTooltip]="getTexto().alterar"
            matTooltipPosition="above">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button aria-label="Example icon-button with share icon "
            (click)="escolha(getAcoes()[ 'Exclusao'],grupo) " [matTooltip]="getTexto().excluir"
            matTooltipPosition="above">
            <mat-icon>delete</mat-icon>
          </button>
        </span>
      </mat-card-actions>
      <mat-card-content>
        <mat-label class="labelTitleFirst">CÓDIGO:</mat-label>
        <mat-label class="labelData">{{grupo.id}}</mat-label>
        <mat-label class="labelTitle">Razão Social:</mat-label>
        <mat-label class="labelData">{{grupo.razao}}</mat-label>
      </mat-card-content>

    </mat-card>
  </div>

</div> -->
