<div class="pagina">
  <button class="mat-icon-button" mat-icon-button aria-label="Example icon-button with share icon" matTooltip="Início"
    matTooltipPosition="above" (click)="firstPage()">
    <mat-icon>first_page</mat-icon>
  </button>
  <button class="mat-icon-button" mat-icon-button aria-label="Example icon-button with share icon" matTooltip="Voltar"
    matTooltipPosition="above" (click)="forwardPage()">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <span>{{getAtual()}}</span>
  <button class="mat-icon-button" mat-icon-button aria-label="Example icon-button with share icon" matTooltip="Avançar"
    matTooltipPosition="above" (click)="nextPage()">
    <mat-icon>chevron_right</mat-icon>
  </button>
  <button class="mat-icon-button" mat-icon-button aria-label="Example icon-button with share icon" matTooltip="Final"
    matTooltipPosition="above" (click)="lastPage()">
    <mat-icon>last_page</mat-icon>
  </button>
</div>
