<div class="div-barra">
  <mat-toolbar>
    <span class="example-spacer">
      <mat-label>{{labelCadastro}}</mat-label>
    </span>
  </mat-toolbar>
</div>
<form [formGroup]="formulario" autocomplete="off">

  <div class="moldura">
    <div class="col-med-2">
      <mat-form-field appearance="outline" class="col-max">
        <mat-label>Data</mat-label>
        <input matInput formControlName="data" mask="00/00/0000" placeholder="DD/MM/AAAA" [readonly]="readOnlyKey()">
        <mat-error *ngIf="formulario.get('data')?.errors?.ValidatorDate && touchedOrDirty('data')">
          {{formulario.get('data')?.errors?.message}}</mat-error>
      </mat-form-field>
      <mat-form-field field appearance="outline" class="col-max"
        *ngIf="( (idAcao != getAcoes()[ 'Consulta']) && (idAcao != getAcoes()[ 'Exclusao']) )">
        <mat-label>Nivel</mat-label>
        <mat-select formControlName="nivel">
          <mat-option *ngFor="let nivel of niveis_data" [value]="nivel.id">
            {{nivel.descricao}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field field appearance="outline" class="col-max"
        *ngIf="( (idAcao == getAcoes()[ 'Consulta']) || (idAcao == getAcoes()[ 'Exclusao']) )">
        <mat-label>Nivel</mat-label>
        <input matInput formControlName="nivel_" [readonly]="readOnly">
      </mat-form-field>
    </div>
    <div class="col-med-1">
      <mat-form-field appearance="outline" class="col-max">
        <mat-label>Descrição</mat-label>
        <input matInput formControlName="descricao" oninput="this.value = this.value.toUpperCase()"
          [readonly]="readOnly">
        <mat-error *ngIf="formulario.get('descricao')?.errors?.ValidatorStringLen && touchedOrDirty('descricao')">
          {{formulario.get('descricao')?.errors?.message}}</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="button-container-right">
    <button mat-raised-button color="primary" (click)="onSubmit()" *ngIf="idAcao != 3">
      <mat-icon>check</mat-icon>
      {{acao}}
    </button>
    <button mat-raised-button color="accent" (click)="onCancel()">
      <mat-icon>cancel</mat-icon>
      {{getLabelCancel()}}
    </button>
  </div>
</form>
