.atividade {
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    width: 100%;
    height: 500px;
}

table {
    width: 100%;
    cursor: pointer;
}

.coluna-codigo {
    background-color: #878684;
    font-weight: bolder;
}

.coluna-descricao {
    background-color: #A9AD9E;
}

.coluna-acao {
    background-color: #E1E7D3;
    text-align: center;
    font-weight: 400;
}

.coluna-cabec {
    background-color: #E3BD11;
    text-align: center;
}

.buttons {
    margin-top: 12px;
    align-items: center;
}
