<div class="div-barra">
  <mat-toolbar>
    <span class="example-spacer">Estruturas: </span>
    <span class="example-spacer">
      <mat-menu #appMenu="matMenu">
        <ng-template matMenuContent>
          <button mat-menu-item (click)="onSetStatus(1,'Ativas')">Ativas</button>
          <button mat-menu-item (click)="onSetStatus(2,'Inativas')">Inativas</button>
          <button mat-menu-item (click)="onSetStatus(0,'Todas')">Todas</button>
        </ng-template>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="Example icon-button with share icon ">
        Status:{{status_descricao}}
      </button>
    </span>
    <button mat-icon-button aria-label="Example icon-button with share icon " matTooltip="Retorno"
      matTooltipPosition="above" (click)="onHome()">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon" (click)="getEstruturas()"
      matTooltip="Atualizar" matTooltipPosition="above">
      <mat-icon>rotate_right</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="addControlControle()">
        <mat-icon>assignment</mat-icon>
        <span>Com Controle</span>
      </button>
      <button mat-menu-item (click)="addControlSemControle()">
        <mat-icon>assignment_ind</mat-icon>
        <span>Sem Controle</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</div>
<div class="parametros">
  <form [formGroup]="parametros" autocomplete="off" class="col-med-4">
    <mat-form-field field appearance="outline" class="col-max">
      <mat-label>Ordenação</mat-label>
      <mat-select formControlName="ordenacao">
        <mat-option *ngFor="let op of opcoesOrdenacao" [value]="op">
          {{op}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field field appearance="outline" class="col-max">
      <mat-label>Pesquisar Por</mat-label>
      <mat-select formControlName="campo">
        <mat-option *ngFor="let op of opcoesCampo" [value]="op">
          {{op}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-max column-span-2">
      <mat-label>Descrição</mat-label>
      <input matInput formControlName="filtro">
    </mat-form-field>
  </form>
</div>
<div *ngIf="estruturas.length==0">
  <mat-card class="example-card">
    <mat-card-content>
      <mat-label class="labelTitleFirst">Nenhuma Informação Para Esta Consulta Ou Tabela Vazia!</mat-label>
    </mat-card-content>
  </mat-card>
</div>
<div class="Browse" *ngIf="estruturas.length>0">
  <div class="linha" *ngFor="let estru of estruturas ; index as id">

    <mat-card class="example-card">
      <mat-card-actions>
        <span class="button-container-right ">
          <button mat-icon-button aria-label="Example icon-button with share icon " (click)="onCopia(estru)"
            matTooltip="Copiar A Estrutura" matTooltipPosition="above">
            <mat-icon>file_copy</mat-icon>
          </button>
          <button mat-icon-button aria-label="Example icon-button with share icon " (click)="tree(estru)"
            matTooltip="Visualizar Estrtutura" matTooltipPosition="above">
            <mat-icon>fullscreen</mat-icon>
          </button>
          <button mat-icon-button aria-label="Example icon-button with share icon " (click)="escolha(estru,99)"
            [matTooltip]="getTexto().sub_conta" matTooltipPosition="above">
            <mat-icon>assignment</mat-icon>
          </button>
          <button mat-icon-button aria-label="Example icon-button with share icon "
            (click)="escolha(estru,getAcoes()[ 'Edicao'])" [matTooltip]="getTexto().alterar" matTooltipPosition="above">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button aria-label="Example icon-button with share icon "
            (click)="escolha(estru,getAcoes()[ 'Exclusao'])" [matTooltip]="getTexto().excluir"
            matTooltipPosition="above">
            <mat-icon>delete</mat-icon>
          </button>
        </span>
      </mat-card-actions>
      <mat-card-content>
        <mat-label class="labelTitleFirst">Tipo:</mat-label>
        <mat-label class="labelData">{{estru.tipo | tipoConta}}</mat-label>
      </mat-card-content>
      <mat-card-content>
        <mat-label class="labelTitleFirst">Conta:</mat-label>
        <mat-label class="labelData">{{estru.subconta}}</mat-label>
        <mat-label class="labelTitle">Ativa:</mat-label>
        <mat-label ngClass="{getClassAtiva(estru.status)}">{{estru.status | ativo}}</mat-label>
        <mat-label class="labelTitle">Versão:</mat-label>
        <mat-label class="labelData">{{estru.versao}}</mat-label>
        <mat-label class="labelTitle">Descrição:</mat-label>
        <mat-label class="labelData">{{estru.descricao}}</mat-label>
      </mat-card-content>
    </mat-card>
  </div>
</div>
