tr:nth-child(even) {
    background-color: #f2f2AA;
}

tr:hover {
    background-color: rgb(202, 169, 157);
}

tr:hover {
    background-color: rgb(202, 169, 157);
}

.acoes {
    color: darkred;
    width: 100px;
}

.rodape {
    width: 100%;
    height: 25px;
}

.padding {
    padding: 5px;
}