<div class="padrao">
  <div class="div-barra">
    <mat-toolbar>
      <span class="example-spacer">Pesquisa {{data.dono}}</span>
      <app-navegator [controle]="controlePaginas" (changePage)="onChangePage()"></app-navegator>
    </mat-toolbar>
  </div>
  <div mat-dialog-content class="dialog-content">
    <form [formGroup]="parametros" autocomplete="off">
      <div class="col-med-4">
        <mat-form-field field appearance="outline" class="col-max">
          <mat-label>Ordernado Por</mat-label>
          <mat-select formControlName="orderby" (selectionChange)="onChangeParametros()">
            <mat-option *ngFor="let ordem of orderby" [value]="ordem.sigla">
              {{ordem.descricao}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-50">
          <mat-label>Código</mat-label>
          <input matInput formControlName="codigo" >
          <button *ngIf="hasValue('codigo')" matSuffix mat-icon-button aria-label="Clear" (click)="clearValueRefresh('codigo')">
            <mat-icon>close</mat-icon>
         </button>
        </mat-form-field>
          <mat-form-field appearance="outline" class="column-span-2">
            <mat-label>Razão Social</mat-label>
            <input  class="uppercase" matInput formControlName="razao">
            <button *ngIf="hasValue('razao')" matSuffix mat-icon-button aria-label="Clear" (click)="clearValueRefresh('razao')">
              <mat-icon>close</mat-icon>
          </button>
          </mat-form-field>
      </div>
      <div class="col-med-1">
        <mat-form-field appearance="outline" class="col-max">
          <mat-label>Descrição</mat-label>
          <input  class="uppercase" matInput formControlName="descricao">
          <button *ngIf="hasValue('descricao')" matSuffix mat-icon-button aria-label="Clear" (click)="clearValueRefresh('descricao')">
            <mat-icon>close</mat-icon>
         </button>
        </mat-form-field>
      </div>
      <div class="col-med-3">
        <mat-form-field appearance="outline" class="col-max">
          <mat-label>CNPJ/CPF</mat-label>
          <input  class="uppercase" matInput formControlName="cnpj_cpf">
          <button *ngIf="hasValue('cnp_cpf')" matSuffix mat-icon-button aria-label="Clear" (click)="clearValueRefresh('cnp_cpf')">
            <mat-icon>close</mat-icon>
         </button>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-max">
          <mat-label>Nome Fantasia</mat-label>
          <input  class="uppercase" matInput formControlName="fantasia">
          <button *ngIf="hasValue('fantasia')" matSuffix mat-icon-button aria-label="Clear" (click)="clearValueRefresh('fantasia')">
            <mat-icon>close</mat-icon>
         </button>
        </mat-form-field>
        <mat-form-field field appearance="outline" class="col-max">
          <mat-label>Grupo Do Clientes</mat-label>
          <input class="uppercase" matInput  formControlName="grupo" [readonly]="true">
          <button *ngIf="hasValue('grupo')" matSuffix mat-icon-button aria-label="Clear" (click)="clearValue('grupo')">
            <mat-icon>close</mat-icon>
          </button>
          <button matSuffix mat-icon-button aria-label="Clear" (click)="onPesquisaGrupo()">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </form>
    <table class="Browse_Lanc" *ngIf="lsLista.length > 0">
      <tr class="coluna-cabec">
        <th>Código</th>
        <th>Descrição</th>
      </tr>
      <tr *ngFor="let lista of lsLista" >
        <td>
          <div>
            <mat-label class="Browse_Lanc_td maozinha">{{lista.codigo }}</mat-label>
          </div>
        </td>
        <td>
          <div (dblclick)="onEscolher(lista)">
            <mat-label class="Browse_Lanc_td maozinha">{{lista.descricao}}</mat-label>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div mat-dialog-actions>
    <div class="button-container-right">
      <button mat-raised-button color="accent" (click)="onCancelar()">
        <mat-icon>cancel</mat-icon>
        <span>Canecelar</span>
      </button>
      <button mat-raised-button color="primary" (click)="onTodos()" *ngIf="data.opcaoTodos" >
        <mat-icon>check</mat-icon>
        <span>Todos</span>
      </button>
    </div>
  </div>
</div>

